
<DOCTYPE! html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<title>Budget Sheets</title>
	</head>
	<body>
		<div id="home_nav"><div class="home_nav_button"><p>Update Self</p></div></div>
		<div id="stats_panel">
			<form method="post" id="stats_form">
				<fieldset>
					<legend>Net Income:</legend>
					<label for="stats_form_netpay">Net Pay:</label>
					<input type="text" name="Amount:" id="stats_form_netpay">
				</fieldset>
				<fieldset>
					<legend>Expenditures</legend>
					<label for="stats_form_netpay">Net Pay:</label>
					<input type="text" name="Amount:" id="stats_form_netpay">
				</fieldset>
			</form>
		</div>
	</body>
</html>
