<DOCTYPE! html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<title>Budget-Sheets</title>
	</head>
	<body>
		<div id="nav">
			<a href="home.html" id="nav_button_home"><div class="nav_button"><p>Home</p></div></a>
			<a href="statistics.html" id="nav_button_update"><div class="nav_button"><p>Update Self</p></div></a>
			<a href="comparisons.html" id="nav_button_compare"><div class="nav_button"><p>Compare</p></div></a>
		</div>

		<div id="compare_panel_left" class="compare_panel"></div>
		<div id="compare_panel_right" class="compare_panel"></div>
	</body>	
</html>