<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<title>Budget Sheets</title>
	</head>
	<body>
		<div id="nav">
			<a href="home.html" id="nav_button_home"><div class="nav_button"><p>Home</p></div></a>
			<a href="statistics.html" id="nav_button_update"><div class="nav_button"><p>Input</p></div></a>
			<a href="comparisons.html" id="nav_button_compare"><div class="nav_button"><p>Compare</p></div></a>
		</div>


		<div id="home_body_right" class="home_body">
	  		<p>Financial Advice</p><p>There may be a chatbot here soon!</p><p>Free, confidential budgeting and advice</p><p>Compare your spending to the national average, or even your friends!</p>
	    </div>

		<div id="home_body_left" class="home_body"</div>
			<form url="/signup/" method="post">
				<fieldset>
					<legend>Sign Up</legend>
					<label for="home_signup_username">Username:</label>
					<input type="text" id="home_signup_username", name="username">
					<br>
					<label for="home_signup_email">email:</label>
					<input type="email" id="home_signup_email", name="email">
					<br>
					<label for="home_signup_password">Password:</label>
					<input type="text" id="home_signup_password", name="password">
					<br>
					<label for="home_signup_reppassword">Repeat Password:</label>
					<input type="text" id="home_signup_reppassword">
					<br>
					<input type="submit">
				</fieldset>
			</form>
		</div>
	</body>
</html>
