<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="static/style.css">
		<script type="text/javascript" src="static/FormVerify.js"></script>
		<title>Budget Sheets</title>
	</head>
	<body>
		<div id="nav">
			<a href="/home/" id="nav_button_home"><div class="nav_button"><p>Home</p></div></a>
			<a href="/budget/setup/" id="nav_button_update"><div class="nav_button"><p>Input</p></div></a>
			<a href="/budget/comparison/" id="nav_button_compare"><div class="nav_button"><p>Compare</p></div></a>
			<div class="nav_button" id="login_status">{{login_status|safe}}</div>
		</div>


		<div id="home_body_right" class="home_body">
	  		<p>Financial Advice</p><p>Free, confidential budgeting and advice</p><p>Compare your spending to the national average, or even your friends!</p><p>There may be a chatbot here soon!</p>
	    </div>

		<div id="home_body_left" class="home_body">
			<form action="/signup/" method="post">
				<fieldset>
					<div id="home_form">
						<legend>Sign Up</legend>
						<label for="home_signup_username">Username:</label>
						<input type="text" id="home_signup_username", name="username">
						<br>
						<label for="home_signup_email">Email:</label>
						<input type="email" id="home_signup_email", name="email">
						<br>
						<label for="home_signup_password">Password:</label>
						<input type="password" id="home_signup_password", name="password">
						<br>
						<label for="home_signup_reppassword">Repeat Password:</label>
						<input type="password" id="home_signup_reppassword">
						<br>
						<input type="submit">
					</div>
				</fieldset>
			</form>
		</div>
	</body>
</html>
