
<DOCTYPE! html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
		<script type="text/javascript" src="/static/PushList.js"></script>
		<title>Budget Sheets</title>
	</head>
	<body>
		<div id="nav">
			<a href="/" id="nav_button_home"><div class="nav_button"><p>Home</p></div></a>
			<a href="/budget/setup/" id="nav_button_update"><div class="nav_button"><p>Input</p></div></a>
			<a href="/budget/compare/setup/" id="nav_button_compare"><div class="nav_button"><p>Compare</p></div></a>
			<div class="nav_button" id="login_status">{{login_status|safe}}</div>
		</div>

		<div id="stats_panel">
			<form action="/budget/setup/" method="post" id="stats_form">
				<fieldset>
					<legend>Net Income:</legend>
					<label for="stats_form_netpay">Net Pay:</label>
					<input type="text" name="net_income" id="stats_form_netpay">
				</fieldset>
				<fieldset id="stats_form_expense">
					<legend>Expenditures</legend>
					{% if expenses %}
					{% for expense in expenses %}
					<div id="stats_form_expense_row0">
						<label>Expense Category:</label>
						<select id="stats_form_expense_type0" name="type" value="{{expense.val_type}}">
							<option value="food">Food</option>
							<option value="appliances">Appliances</option>
							<option value="luxuries">Luxuries</option>
							<option value="other">Other</option>
						</select>
						<label>Expense Name:</label>
						<input type="text" name="name" id="stats_form_name0" value="{{expense.name}}">
						<label>Cost(£):</label>
						<input type="number" name="cost" id="stats_form_cost0" value="{{expense.cost}}" step=0.01>
					</div>
					{% endfor %}
					{% else %}
					<div id="stats_form_expense_row0">
						<label>Expense Category:</label>
						<select id="stats_form_expense_type0" name="type">
							<option value="food">Food</option>
							<option value="appliances">Appliances</option>
							<option value="luxuries">Luxuries</option>
							<option value="other">Other</option>
						</select>
						<label>Expense Name:</label>
						<input type="text" name="name" id="stats_form_name0">
						<label>Cost(£):</label>
						<input type="number" name="cost" id="stats_form_cost0" step=0.01>
					</div>
					{% endif %}
				</fieldset>
				<div class="stats_form_expense_operand" id="stats_form_expense_plus" OnClick="push()"><p>+</p></div>
				<div class="stats_form_expense_operand" OnClick="remove()"><p>-</p></div>
				<input type="submit">
			</form>
		</div>
	</body>
</html>
